/* Custom CSS File */

/* Colors from Logo:
*  Orange: rgba(242, 98, 35, 1)
*  Green: rbga(177, 206, 57, 1)
*  Gray: rgba(168, 169, 173, 1)
*  Blue: rgba(0, 125, 182, 1)
*/

html{
	font-family: 'Open Sans', sans-serif;
}

.blue{
	color: rgba(0, 125, 182, 1);
}
.orange{
	color: rgba(242, 98, 35, 1);
}
.green{
	color: rgba(177, 206, 57, 1);
}
.gray{
	color: rgba(168, 169, 173, 1);
}
.active{
	color:white !important;
}

/* CUSTOM BUTTONS */
.btn-green{
	background-color: rgba(177, 206, 57, 1);
	color: white;
}
.btn-blue{
	background-color: rgba(0, 125, 182, 1);
	color: white;
}
.btn-white{
	background-color: white;
	color: rgba(0, 125, 182, 1);
	font-weight: bold;
	text-transform: uppercase;
}
.btn-white:active{
	background-color: lightgray;
}
.skip-btn{
	background-color: rgba(0, 115, 168,1);
	color: white;
	display: block;
	text-transform: uppercase;
}
.btn-lightblue{
	background-color: rgb(195,228,245);
	color: rgba(0, 125, 182, 1);
	font-weight: bold;
	text-transform: uppercase;
}

/* NAVIGATION STYLES */
.fa-bars{
	color: black;
}

#custom-pill li {
	width: 25%;
	text-align: center;
}

/* DATA PAGE STYLES */
#chart{
	display: none;
}
#trends{
	display: none;
}
#data{
	display: block;
}
#map{
	display: none;
}

.tan-body{
	background-color: #f3f3f3;
}

.btn-custom{
	background-color: rgba(242, 98, 35, 1);
	color: white;
}
.btn-custom:hover{
	background-color: rgba(212, 76, 17, 1);
	color: white;
}

/* MORE INFO QUESTION MARK STYLES */
.fa-question-circle {
	color: rgba(0, 125, 182, 1);
}
.fa-question-circle:hover {
	color: rgba(0, 115, 168,1);
	cursor: pointer; 
}
.fa-times {
	color: gray;
}
.fa-times:hover {
	cursor: pointer; 
}

/* SCROLLING MENU CSS */
div.scrollmenu {
	overflow: auto;
	white-space: nowrap;
  }
  
  div.scrollmenu li {
	display: inline-block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  div.scrollmenu li:hover {
	background-color: #777;
  }

  /* SPLASH PAGE STYLES */

  .splash {
	  background-color: rgba(0, 115, 168,1);
	  color: white;
	  padding-top: 40px;
  }
  .splash img {
	height: 50px;
	margin-bottom: 20px;
  }
  .splash h2{
	  text-transform: uppercase;
	  margin:0;
	  padding:0;
  }
  .splash-container{
	position: relative;
	width: 85%;
	height: 90vh;
  }
  .splash-content{
	position: absolute;
	bottom: 0;
	left: 0;
  }
.splash-content ul{
	font-size: 1em;
	padding-left: 20px;
}

/* ONBOARDING STYLES */
.onboarding{
	position: relative;
	height: 100vh;
}
.onboarding-content form{
	height: 400px;
	width: 100%;
	word-wrap: break-word;
	overflow: scroll;
}
.onboarding header{
	background-color:  rgba(0, 115, 168,1);
	color: white;
}
.onboarding a {
	color: white;
	text-decoration: none;
}

.onboarding-content #findNeighborhoods{
	height: 60vh;
}
.onboarding-buttons{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.next{
	display: block;
	float: right;
}
.steps{
	text-align: center;
	font-weight: bold;
}
.steps hr{
	border-top: 4px solid white;
	width: 100px;
	position: relative;
	top: 30px;
	z-index: 0;
}
.step-progress {
	color: rgba(0, 115, 168,1);
	font-weight: bold;
	display: inline-block;
}
.progress{
	background-color: white;
	color: rgba(0, 115, 168,1);
	display: inline;
	padding: 6px 14px;
	border-radius: 100%;
	font-weight: bold;
	font-size: 1.2em;
	z-index: 3;
}
.active-progress{
	background-color: rgba(0, 115, 168,1);
	color: white;
	display: inline;
	padding: 6px 14px;
	border-radius: 100%;
	border: 3px solid rgb(50,219,173);
	font-size: 1.2em;
	z-index: 3;
}
.topic{
	width: 33%;
	text-align: center;
	font-size: 0.8em;
	font-weight: 500;
}
.topic img{
	height: 70px;
}
.topic img.selected{
	height: 69px;
	border-radius: 100%;
	border: 4px solid rgba(0, 115, 168,1);
}

/* SELECTING NEIGHBORHOODS */
.form-check li{
	list-style: none;
}
.checkboxes{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 1.1em;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
/* Hide the browser's default checkbox */
.checkboxes input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxes input:checked ~ .checkmark {
	background-color: rgb(42, 173, 138);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxes input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxes .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  /* HOMEPAGE STYLES */
  .homepage header{
	  background-color: rgba(0, 125, 182, 1);
	  color: white;
	  position: relative;
  }
  .bar-menu {
	  position: absolute;
	  right: 10px;
	  top: 60px;
  }
  .homepage-content ul{
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  font-size: 1.2em;
  }
  .homepage-content ul a{
	  display: block;
	  border-bottom: 1px solid lightgray;
	  color: black;
	  text-decoration: none;
	  position: relative;
	  padding-left: 30px;
	  font-weight: 500;
  }
  .homepage-content a i{
	  color: rgba(0, 125, 182, 1);
	  position: absolute;
	  right: 20px;
	  top: 20px;
  }
  .homepage-content .container p{
	font-size: 0.8em;
	}
.homepage-content .container p{
	font-size: 0.9em;
	}
	.subheading{
		font-weight: 500;
		font-size: 0.9em;
		color: gray;
	}
	.description{
		font-size: 0.8em;
	}

  /* FOOTER NAV STYLES */
  .footer-nav{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #f1f1f1;
	color: gray;
	border-top: 1px solid lightgray;
  }
  .footer-nav a{
	display: inline-block;
	padding: 10px;
	width: 30%;
	text-align: center;
	font-size: 1.5em;
  }

  /* MAIN DATA PAGES */
header.main-page{
	  background-color: rgba(0, 125, 182, 1);
	  padding: 10px;
	  color: white;
  }
.neigh{
	width: 25%;
	text-align: center;
	font-size: 0.75em;
	font-weight: 500;
}
.neigh img{
	height: 70px;
}

/* NEIGHBORHOOD STYLES */
.neighborhood-content{
	height: 500px;
	overflow: scroll;
}
.neighborhood-content ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
.neighborhood-content ul a{
	display: block;
	border-bottom: 1px solid lightgray;
	color: black;
	text-decoration: none;
	position: relative;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 500;
}
.neighborhood-content a i{
	color: rgba(0, 125, 182, 1);
	position: absolute;
	right: 20px;
	top: 14px;
}

/* TOPIC STYLES */
.topic-content p{
	color: rgba(0, 125, 182, 1);
	font-weight: 500;
}
.topic-content img{
	float: left;
	height: 65px;
}
.align{
	margin-left: 80px;
}
.topic-neigh{
	height: 250px;
}

/* GENERAL LINKS FLOW */
.nav-steps .active-progress{
	background-color: rgb(50,219,173);
	border: 3px solid rgba(0, 115, 168,1);
	color: rgba(0, 115, 168,1);
}

.nav-steps .progress{
	background-color: rgba(0, 115, 168,1);
	color: white;
	text-align: center;
}

.step-title{
	font-weight: 500;
}

.choose-topic{
	background-color: #f3f3f3;
	height: 100%;
}

.choose-neighborhood{
	background-color: #f3f3f3;
	word-wrap: break-word;
}

#findNeighborhoods{
	height: 47vh;
	overflow: scroll;
}
.modal-content #findNeighborhoods{
	height: 30vh;
	overflow: scroll;
}


.followed{
	color: rgba(242, 98, 35, 1);
	font-size: 0.9em;
	font-style: italic;
}

#indicators{
	height: 60vh;
	overflow: scroll;
}

#mapid{
	height: 300px;
}
#data-map{
	height: 300px;
}

#indicator-content #indicators{
	height: 60vh;
	overflow: scroll;
}

.add-neighborhoods{
	display: block;
	text-align: center;
	margin-bottom: 10px;
}




/* SIDE NAVIGATION */

/* The side navigation menu */
.sidenav {
	height: 100%; 
	width: 0; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	right: 0;
	box-shadow: -1px 0px 5px gray;
	background-color: rgb(235, 244, 247); 
	overflow-x: hidden; 
	padding-top: 40px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 30px;
	text-decoration: none;
	font-size: .9em;
	color: rgb(17, 17, 17);
	display: block;
	transition: 0.3s;
  }
  .sidenav .side-link {
	border-top: 1px solid gray;
	font-size: 1em;
  }
  .sidenav a:nth-child(7) {
	border-bottom: 1px solid gray;
	margin-bottom: 15px;
	font-size: 1em;
 }

 /* Header styles */
 .sidenav p {
	 font-weight: 500;
	 border-bottom: 2px solid #006699;
	 font-size: 1.2em;
 }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:link,
  .sidenav a:visited,
  .sidenav a:hover,
  .sidenav a:focus {
	color: rgb(17, 17, 17);
  }
  .sidenav a:active {
	background-color: rgba(0, 115, 168,1);
	color: white;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 1.5em;
	margin-left: 50px;
  }
  .sidenav img{
	position: absolute;
	top: 0;
	margin: 10px;
  }
  .sidenav .profile-link{
	position: absolute;
	top: 4px;
	left: 20px;
	margin: 10px;
	border: none !important;
	font-weight: 600 !important;
	color: rgba(0, 115, 168,1) !important;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-left .5s;
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  /* PROFILE STYLES */
.clear {
	clear: both;
}
.profile-info{
	font-size: 0.9em;
	margin-left: 110px;
}
.profile-info a{
	color:rgba(0, 115, 168,1);
}
.profile-hello{
	font-size: 1.3em;
	color: rgb(0, 87, 128);
	font-weight: 500;
}
.profile-info button{
	height: 30px;
	font-size: 0.8em;
}
.favorited{
	background-color: rgb(235, 244, 247);
	width: 99%;
	margin: auto;
	border-radius: 20px;
}
.neigh2{
	width: 33%;
	text-align: center;
	font-size: 0.75em;
	font-weight: 500;
}
.neigh2 img{
	height: 70px;
}